.new-arrivals {
  background: #F4F6F8;
  padding: 60px 0;
}

.new-arrivals-title {
  color: $primary-text;
  text-align: center;
  text-transform: uppercase;
}

.first-word {
  color: $secondary;
}

.new-arrivals-description {
  columns: $primary-text;
  text-align: center;
  padding-bottom: 60px;
}

.new-arrivals__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  @include large {
    flex-wrap: nowrap;
  }
}

.new-arrivals__item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 360px;
  background: #fff;
  margin: 20px auto;
  @include medium {
    padding: 20px;
  }
  @include large {
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
}
}

.new-arrivals__item-title {
  text-decoration: none;
  color: $primary-text;
  font-weight: 600;
}

.new-arrivals__item-price {
  color: $secondary;
  font-weight: 600;
}