<aside class="aside">
	<div class="aside-categories aside--products">
		<ul class="aside-categories__list">
			<p class="aside-categories__list-title">Categories</p>
			<li class="aside-categories__item"><a href="#">Man</a></li>
			<li class="aside-categories__item"><a href="#">Women</a></li>
			<li class="aside-categories__item"><a href="#">Children</a></li>
			<li class="aside-categories__item"><a href="#">Hot deals</a></li>
		</ul>
	</div>

	<div class="aside-price-filter aside--products">
		<p class="aside-price-filter__title">Price filter</p>
		<div class="price-filter">
			<input type="range" min="0" max="1200" value="100" class="price-filter__range" id="myRange" />
			<input type="range" min="0" max="1200" value="50" class="price-filter__range" id="myRange" />
		</div>
	</div>

	<div class="aside-sizes aside--products">
		<p class="aside-sizes__title">Sizes</p>
		<label class="checkbox-container">Small<input type="checkbox" checked="checked"/>
      <span class="checkmark"></span>
		</label>

    <label class="checkbox-container">Medium<input type="checkbox"/>
			<span class="checkmark"></span>
		</label>

    <label class="checkbox-container">Large<input type="checkbox"/>
			<span class="checkmark"></span>
		</label>

    <label class="checkbox-container">X large<input type="checkbox"/>
			<span class="checkmark"></span>
		</label>
	</div>

	<div class="aside-brands aside--products">
		<p class="aside-brands__title">Brands</p>
		<label class="checkbox-container"
      >Reebok <input type="checkbox" checked="checked"/>
      <span class="checkmark"></span>
		</label>

		<label class="checkbox-container">Addidas<input type="checkbox"/>
			<span class="checkmark"></span>
    </label>

    <label class="checkbox-container">Nike<input type="checkbox"/>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox-container">New Balance<input type="checkbox"/>
      <span class="checkmark"></span>
    </label>
	</div>
</aside>
