.promotions-wrap {
  background: #f3f5f7;
}

.container--promotions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  padding: 30px 15px;
	img {
		width: 100%;
	}
	@include medium {
    flex-wrap: nowrap;
    padding: 60px 15px;
	}
}

.promotions-first-banner {
  width: 100%;
  @include medium {
    width: 60%;
    margin-right: 30px;
	}
}

.promotions-second-banner {
  width: 100%;
  @include medium {
    width: 40%;
	}
}
