.container--promotions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	img {
    width: 100%;
    height: 100%;
	}
	@include large {
    flex-wrap: nowrap;
    padding-bottom: 60px;
	}
}

.promotions-first-banner {
  width: 100%;
  @include large {
    width: 60%;
    margin-right: 30px;
	}
}

.promotions-second-banner {
  width: 100%;
  @include large {
    width: 40%;
	}
}
