.container--top-bar {
	display: flex;
	align-items: center;
	height: 60px;
}

.top-bar__contacts {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0;
}

.top-bar__socials-link,
.top-bar__contacts-link {
	text-decoration: none;
	margin: 5px;
	color: $primary-text;
}

.fa-envelope,
.fa-phone-square {
	color: $secondary;
}

.container--navigation-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.navigation-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	flex: 1 0;
}

.logo-img {
	width: 100px;
	@include medium {
		width: 130px;
	}
}

.main-menu {
	display: none;
	@include medium {
		display: block;
		margin: auto;
	}
	@include large {
		margin-left: 50px;
	}
}

.hamburger {
	display: block;
	padding: 0;
	outline: none;
	@include medium {
		display: none;
	}
}

.main-menu__list {
	display: flex;
	list-style: none;
	padding: 0;
	li {
		&:not(:last-child) {
			margin-right: 20px;
		}
		@include large {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
	}
	a {
		text-decoration: none;
		color: $primary-text;
		&:active {
			color: $secondary;
		}
	}
}

.header-user-btn__list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: auto;
	li {
		&:not(:last-child) {
			margin-right: 15px;
		}
		@include extra {
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
	@include medium {
		margin: 0;
	}
	a {
		color: $primary-text;
		&:hover {
			color: $secondary;
		}
	}
	i {
		font-size: 20px;
	}
}

.cart {
	position: relative;
}

.cart-count {
	font-size: 12px;
	position: absolute;
	text-align: center;
	top: -14px;
	left: 2px;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	background: $primary;
	padding: 2px;
}