.container--related-products {
	padding-top: 55px;
}

.related-products-title {
	color: $primary-text;
	text-align: center;
	text-transform: uppercase;
}

.first-word {
	color: $secondary;
}

.related-products-description {
	columns: $primary-text;
	text-align: center;
	padding-bottom: 60px;
}

.related-products__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	flex-wrap: wrap;
	margin-bottom: 80px;
	@include large {
		flex-wrap: nowrap;
	}
	li {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		width: 270px;
		height: 360px;
		background: #fff;
		margin: 20px auto;
		@include medium {
			padding: 20px;
		}
		@include large {
			margin: 0;
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
		&:hover {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		}
	}

	img {
		@include large {
			width: 70%;
		}
		@include extra {
			width: auto;
		}
	}
}

.related-products__item-title {
	text-decoration: none;
	color: $primary-text;
	font-weight: 600;
}

.related-products__item-price {
	color: $secondary;
	font-weight: 600;
}