.container--footer {
	height: 240px;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
    @include medium {
      flex-direction: row;
    }
}

.nav-footer {
  width: 60%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
	a {
    text-decoration: none;
    color: $primary-text;
    @include medium {
      line-height: 25px;
    }
  }
  @include medium {
    flex-wrap: wrap;
    height: 80px;
    margin-left: 50px;
    align-items: flex-start;
    align-content: space-around;
  }
}

.payment__title {
  color: $secondary;
  font-weight: 600;
}

.payment__list {
  display: flex;
  padding: 0;
	li {
		list-style: none;
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

.payment__img {
	width: 30px;
}
