<footer class="footer">
  <div class="container container--footer">

      <div class="logo logo--footer">
          <a href="index.html"><img class="logo-img" src="img/logo.png" alt="Home"/></a>
        </div>

    <nav class="nav-footer">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">contact us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">support</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
      </ul>
    </nav>

    <div class="payment">
      <span class="payment__title">Payment Methods</span>
      <ul class="payment__list">
        <li class="payment__item"><img src="img/mastercard-credit-card.png" alt="mastercard" class="payment__img"></li>
        <li class="payment__item"><img src="img/mastercard-credit-card.png" alt="mastercard" class="payment__img"></li>
        <li class="payment__item"><img src="img/mastercard-credit-card.png" alt="mastercard" class="payment__img"></li>
        <li class="payment__item"><img src="img/mastercard-credit-card.png" alt="mastercard" class="payment__img"></li>
      </ul>


  </div>
</footer>