<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  {% include 'components/Layout/Header/header.html' %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% include 'components/Layout/Footer/footer.html' %}
</body>
</html>