<!-- NEWS-LETTER -->
<div class="container container--news-letter">
  <div class="news-letter">
	<div class="news-letter__content">
		<p class="news-letter__title">News letter</p>
		<p class="news-letter__description">join us now to get all news and special offers</p>
	</div>

	<form class="news-letter-form" action="">
		<div class="news-letter-input">
      <i class="far fa-envelope"></i>
      <input type="email" placeholder="type your email here"/>
		</div>
		<button type="button">join us</button>
	</form>
</div>
</div>
<!-- ./NEWS-LETTER -->




