<div class="wrap">
  <div class="container container--product">
    <div class="product-images">
      <div class="product-img">
        <img src="img/products/product3.png" alt="product-img">
      </div>
        <div class="carousel">
          <div class="carousel-item">
            <img src="img/products/product3.png" alt="product-img">
          </div>
          <div class="carousel-item">
            <img src="img/products/product3.png" alt="product-img">
          </div>
          <div class="carousel-item">
            <img src="img/products/product3.png" alt="product-img">
          </div>
        </div>
    </div>


    <div class="product-details">

      <h1 class="product-title">Full winter kit</h1>
      <p class="product-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nisi iste officiis omnis accusamus sed.</p>
      <p class="product-description wrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim cupiditate unde quaerat ab dolorem mollitia odio porro quis perspiciatis quae perferendis libero ipsam aspernatur, harum nesciunt dolor reiciendis vel consequatur!</p>
  
      <div class="choose wrap">
        <div class="choose__size">
          <span>Choose size</span>
        </div>
        <div class="choose__quantity">
            <span>Choose quantity</span>
        </div>
      </div>

      <div class="product-price">
        <div class="price">Price: $120</div>

        <div class="order-now">
          <button class="btn">
            Order Now
          </button>
        </div>
      </div>

    </div>
  </div>
</div>